/* INHERITANCE */
/* Certain CSS styles can be inherited */
/* All elements inside the body element/tag inherit the cornflowerblue text color style (Except for the a tags) */
body {
    color: cornflowerblue;
}

/* SPECIFICITY */
/*  */
div {
    color: plum;
}

/* h2 is the most specific element selector we can use to style the h2 elements (More specific than the div) */
h2 {
    color: orange;
}

/* The li elements inside the ol tags inherit the green text color (more specific in the body) */
ol {
    background-color: lemonchiffon;
    color: green;
}

/* The li elements inside the ul tags inherit the properties (more specific than the ol that the ul is nested inside of) */
ul{
background-color: green;
color: lemonchiffon;
}

/* li is the most specific element selector we can use to style the li elements (More specific thatn the ol OR ul */
li {
    color: darksalmon;
}

/* Class selector is more specific than selector */
.hobbit {
    color: dimgray;
}

/* ID selector is more specific than a class selector (More specific than .hobbit*/
#armies {
    color: firebrick;
}